@using Microsoft.AspNetCore.Http;
@{

    ViewData["Title"] = "Home";
}


<div>
    <h3><b>Monte o seu Pc aqui!</b></h3>
    <p>Peças com desconto de até 10x sem juros!</p>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/img/ryzen5.jpg" width=250 height=200>
            <p>Processador AMD Ryzen 5 3400G, Cache 6MB, 3.7GHz</p>
            <p>R$ 1.329,29
                Em 12x sem juros no cartão de R$ 110,77</p>
            <p>R$ 1.129,90 à vista</p>
            <input type="button" class="button" value="Comprar">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/placa.jpg" width=250 height=200>
            <p>Placa Mãe B450 AORUS AMD AM4 ATX DDR4 GIGABYTE</p>
            <p>R$941,06
                Em 12x sem juros no cartão de R$ 110,77</p>
            <p>R$ 799.90 à vista</p>
            <input type="button" class="button" value="Comprar">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/rtx.jpg" width=250 height=200>
            <p>VGA Gigabyte GeForce RTX 3060, 8GB,</p>
            <p>R$5.199,00
                Em 12x sem juros no cartão de R$ 318,77</p>
            <p>R$ 4.890.90 à vista</p>
            <input type="button" class="button" value="Comprar">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/ram.jpg" width=250 height=200>
            <p>Memória RAM 32GB 2x16GB Corsair </p>
            <p>R$991,06
                Em 12x sem juros no cartão de R$ 110,77</p>
            <p>R$ 799.90 à vista</p>
            <input type="button" class="button" value="Comprar">
        </div>
    </div>
</div>
