@using Microsoft.AspNetCore.Http;
@model Produtos

@{
    ViewData["Title"] = "Registro de Produtos";
}

<main class="fundo-color">
    <div class="cadastro-content">  
    <div>
        <div class="icone-titulo"><img class="icones-content" src="~/img/icone-suitcase.png"><h3 class="titulos">REGISTRO DE PRODUTOS</h3></div>
    <form class="form-style" action="Registro_Produtos" method="POST">
    
    <label class="label-style" asp-for="nome">Nome:</label>    
    <input class="input-style" asp-for="nome" name="nome" required placeholder="Nome do produto" maxlength="50">
    
     <label class="label-style" asp-for="descricao">Descrição do produto:</label>    
    <input class="input-style" asp-for="descricao"  name="descricao" required placeholder="Descrição" maxlength="50">

    <label class="label-style" asp-for="preco">Preço:</label>    
    <input class="input-style" asp-for="preco"  name="preco" required placeholder="Preço do produto">

    @if(Context.Session.GetInt32("id_usuarios") != null)
                {
                ViewBag.id = @Context.Session.GetInt32("id_usuarios");
                }  
    <input class="input-style" type="hidden" asp-for="usuario"  name="usuario" value="@ViewBag.id" required placeholder="ID de usuário">
    
    <input type="submit" value="Registrar" class="input-button">
    </form>
     
     <p class="mensagem-style">@ViewBag.Cadastro</p>
</div>

    <div class="bloco-texto paragrafos">
        <h3 class="titulos">REGISTRO DE PRODUTOS</h3>
        <p>Preecha os dados do produto utilizando o formulário ao lado e use o botão "Registrar" para salva-lo no sistema.</p>
    </div>

</div>


</main>